.switcher-currency, .switcher-language{
    color: #ab12c3;
}

ul.header.links{
    color: #ab12c3;
    li{
        color: #8a8cee;
        a{
            color: #ab231b!important;
        }
        button{
            color: tomato !important;
        }
    }
}

.page-header .panel.wrapper{
    color: #fff;
}
.header.content{
    display: flex;
}
.nav-sections-item-content{
    background-color: #fff;
    .navigation{
        background-color: #fff;
    }
}
.nav-sections{
    border-top: 1px solid red;
}
.logo{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important; 
}
.hotline{
    display: flex;
    flex-direction: row;
    a{
        text-decoration: none;
        color: #000;
    }
}